body {
  background: #25409a;
  background-image: url(img/bg.svg);
  font-family: 'Big Shoulders Stencil Text', sans-serif;
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

h1 span {
  color: #db4747;
}

.gameActions {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;
}

a img {
  width: 48px;
  height: 48px;
}

a.disabled {
  pointer-events: none;
}

a.disabled img {
  opacity: 0.4;
}

.canvasArea {
  position: relative;
  min-height: 800px;
  height: 100%;
}

#canvasBoard {
  border: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 600px;
  background: #25409a;
}
