* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg.svg);
  background-color: #25409a;
  font-family: 'Big Shoulders Stencil Text', sans-serif;
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 span {
  color: #db4747;
}

.gameInstructions {
  width: 800px;
  margin: 0 auto;
  background: #1b317a;
  padding: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-weight: 400;
}

.gameInstructions summary {
  color: #eac462;
  font-weight: 700;
}

.gameInstructions p {
  margin-top: 1.25rem;
  line-height: 1.5rem;
}

.instructionYellow {
  color: #eac462;
  font-weight: 700;
}

.instructionRed {
  color: #db4747;
  font-weight: 700;
}

.gameActions {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 1rem;
}

a img {
  width: 48px;
  height: 48px;
}

a.disabled {
  pointer-events: none;
}

a.disabled img {
  opacity: 0.4;
}

.canvasArea {
  position: relative;
  min-height: 640px;
  height: 100%;
}

#canvasBoard {
  border: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 600px;
  background: #25409a;
}
